<!-- Custom styles for this template -->
<link href="components/css/dashboard.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="offcanvas.css">

<div>
  <!--Sidebar slide out for my recipes -->
  <div class="row row-offcanvas row-offcanvas-left">

          <p class="pull-left visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>


    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" id="sidebar">

          <ul class="nav nav-sidebar">
            <li><a href="#/myRecipes">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#/mealPlanning">Meal Planning</a></li>
            <li><a href="#/eventPlanning">Event Planning</a></li>
            <li><a href="#/friendsFamily">Friends and Family</a></li>
          </ul>

          <ul class="nav nav-sidebar">
            <li><a href="#">Export to...</a></li>
          </ul>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">My Recipes</h1>

          <div class="row placeholders well" >
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1>0</h1>
              <h4>Created it</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1>0</h1>
              <h4>Public it</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1>0</h1>
              <h4>Saved it</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <h1>0</h1>
              <h4>Ate it</h4>
            </div>
          </div>

          <h2 class="sub-header">Created</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Brief Desc.</th>
                  <th>Type</th>
                  <th>Public?</th>
                </tr>
              </thead>
            </tbody>
          </table>
        </div>

        <h2 class="sub-header">Saved</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Brief Desc.</th>
                <th>Type</th>
                <th>Public?</th>
              </tr>
            </thead>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
<!-- /.sidebar-offcanvas -->
</div>
