


<h2 class="header">What to get...</h2>
      <div class="table-responsive col-md-7"  ng-controller="viewRecipesOptions">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Item</th>
              <th>Amount</th>
              <th>Unit Of Measure</th>      
          </tr>
          </thead>
        <tbody>
            <tr ng-repeat="items in cart track by $index">
              <td>{{$index + 1}} </td>
              <td>{{items.item}} </td>
              <td>{{items.amount}} </td>
              <td>{{items.unitOfMeasure}} </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>