

<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Something Good   <small>{{recipe.name}}</small>
		</h1>
	</div>
</div>
<!-- /.row -->

<!-- Project One -->
<div class="row">
	<div class="col-md-7">
		<a href="#">
			<img class="img-responsive" src="http://lorempixel.com/700/300/" alt="">
		</a>
	</div>
	<div class="col-md-5">
		<h3>{{recipe.name}} </h3>   <!-- Recipe name-->
		<span ng-repeat= "type in recipe.mealType">{{type | uppercase}} </span><hr>   <!-- Recipe mealType-->
		<p>{{recipe.previewText}} </p>
		<p>User Rating: {{recipe.rating}} Stars</p>
	</br>
	<div ng-controller="viewRecipesOptions">
		<a class="btn btn-primary col-sm-offset-1" ng-click="addtoShoppingList()">Make it! <div class="glyphicon"></div>
		</a>
		<a class="btn btn-primary col-sm-offset-1" ng-click="saveToMyRecipes('recipe.id')">Save it! <div class="glyphicon"></div>
		</a>
		<a class="btn btn-primary col-sm-offset-1" ng-click="addToCart('recipe.id')">Rate it!<div class="glyphicon"></div>
		</a>
	</div>
    </div>	
</div>
<hr>
<div class="row">
<div class="table-responsive col-md-5">
<h2 class="sub-header">Ingredients</h2>
<hr>
    <div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Measure</th>
          </tr>
        </thead>
      <tbody id="sort" class="grid" >
        <tr ng-repeat="ingredient in recipe.ingredientList">
          <td>{{$index + 1}} </td>
          <td>{{ingredient.item}} </td>
          <td>{{ingredient.amount }} </td>
          <td>{{ingredient.unitOfMeasure }} </td>
        </tr> 
      </tbody>
    </table>
  </div>
</div>
   
    <div class="col-md-7">
        <h2 class="sub-header">Directions</h2>
        <hr>
        <p  class="sub-header" ng-repeat="steps in recipe.instructions">{{$index +1}}.  {{steps}} </p>
    </div>
</div>
<!-- /.row -->
